.Button,
.Button-large {
  font: 400 18px Roboto, Helvetica, Arial, sans-serif;
  display: inline-block;
  border-radius: 3px;
  background: linear-gradient(to bottom, #ffce44, #ffc12f);
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  text-transform: uppercase;
  cursor: pointer;
}
.Button:hover,
.Button-large:hover {
  background: linear-gradient(to bottom, #eab100, #e49e00);
}
.Button--control,
.Button-large--control {
  display: block;
  padding: 12px 20px;
}
.Button--control,
.Button-large--control,
.Button--control:focus,
.Button-large--control:focus,
.Button--control:hover,
.Button-large--control:hover {
  color: #161617;
  text-decoration: none;
}
.Button-large {
  border-radius: 5px;
}
.Button-large--control {
  display: block;
  padding: 25px 65px;
}
