@require '../variables.styl';

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
}

.Layout {
    position: relative;
    width: 100%;
    height: 100%;

    &--header {
        font-size: 14px;
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        color: #fff;

        @media (max-width: $small-screen) {
            background-color: #fff;
        }
    }

    &--content {
        width: 100%;
        height: 100%;

        @media (max-width: $small-screen) {
            min-height: 0;
        }
    }
}

.Layout-desktop {
    @extend .Layout;

    &--header {
        @media (max-width: $small-screen) {
            display: none;
        }
    }

    &--headerRow {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        width: 100%;
        max-width: $max-width;
        margin: 0 auto;
        padding: 14px 30px;
    }

    &--headerItem {
        padding: 0 20px;
        text-align: center;
    }

    &--profile {
        display: inline-block;
    }
}

.Layout-mobile {
    @extend .Layout;

    &--header {
        @media (min-width: $small-screen + 1) {
            display: none;
        }
    }
}
