<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <style>
    body {
      font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
      padding: 50px;
      background-color: #ffe;
      color: #333;
    }
  </style>
</head>
<body>
  {{{body}}}
</body>
</html>
