$small-screen = 480px;

$title-font = 'Roboto Slab', Helvetica, Arial, sans-serif;
$subtitle-font = 'Roboto', Helvetica, Arial, sans-serif;

$golden-color = #ffc937;
$dark-text-color = #161617;

$text-shadow = 0 0 10px rgba(0, 0, 0, 0.8);

$max-width = 980px;
