@require('../variables');

.BillboardPanel {
    display: table;
    width: 100%;
    height: 100%;
    padding-top: 84px; // Compensate visual height of page header.

    text-align: center;
    color: #fff;
    background: url('./background.jpg') bottom center no-repeat;
    background-size: cover;

    @media (max-width: $small-screen) {
        padding-top: 64px;
    }

    &--content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 30px;

        @media (max-width: $small-screen) {
            padding: 0 15px;
        }
    }

    &--title {
        font: 900 90px/1.2 'Maven Pro';
        display: flex;
        align-items: center;
        flex-grow: 2;
        text-transform: uppercase;
        color: #B70101;

        shadows =,;
        for i in (-3..3) {
            for j in (-3..3) {
                push(shadows, (i * 1px) (j * 1px) 0 #FFE761);
            }
        }
        shift(shadows);
        shift(shadows);

        text-shadow: shadows

        @media (max-width: $small-screen) {
            font-size: 70px;
        }
    }

    &--subtitle {
        font: 500 36px/1.2 'Maven Pro';
        flex-grow: 1;
        text-transform: uppercase;
        text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
    }
}
