@require('../variables');

.BillboardPanel {
    display: table;
    width: 100%;
    height: 100%;
    padding-top: 70px; // Compensate visual height of page header.

    text-align: center;
    color: #fff;
    background-color: green;
    background-image url('./background.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;

    @media (max-width: $medium-screen) {
        background-image url('./background-mobile.jpg');
    }

    @media (max-width: $small-screen) {
        padding-top: 64px;
    }

    &--content {
        display: table-cell;
        vertical-align: middle;
        padding: 0 30px;

        @media (max-width: $small-screen) {
            padding: 0 15px;
        }
    }

    &--title {
        font: 400 46px/1.2 $title-font;
        max-width: 800px;
        margin: 0 auto 60px;
        text-shadow: $text-shadow;

        @media (max-width: $medium-screen) {
        }

        @media (max-width: $small-screen) {
            font-size: 28px;
            margin-bottom: 1em;
        }
    }

    &--subtitle {
        subtitle();
        font: 400 28px/1.2 $subtitle-font;
        color: $golden-color;
        max-width: 650px;
        margin: 0 auto 62px;
        text-shadow: $text-shadow;

        @media (max-width: $small-screen) {
            font-size: 22px;
            margin-bottom: 1.4em;
        }
    }
}
